In [31]:
import pandas as pd
land = pd.read_csv('land.csv')
results = pd.read_csv('results.csv')

In [64]:
land.head()
results.head(10)

,Unnamed: 0,Name of the Circle,Name of the Ward,BJP,CPI,CPM,INC,AIMIM,TRS,TDP,YSRCP,Other Registered Parties with TSEC,Independents,Total Results declared,id
0,2,Kapra,ward 1 kapra,0,0,0,0,0,1,0,0,0,0,1,relation/7849497
1,3,Kapra,ward 2 dr a s rao nagar,0,0,0,1,0,0,0,0,0,0,1,relation/7849545
2,4,Kapra,ward 3 cherlapally,0,0,0,0,0,1,0,0,0,0,1,
3,5,Kapra,ward 4 meerpet h b colony,0,0,0,0,0,1,0,0,0,0,1,
4,6,Kapra,ward 5 mallapur,0,0,0,0,0,1,0,0,0,0,1,relation/7849614
5,7,Kapra,ward 6 nacharam,0,0,0,0,0,1,0,0,0,0,1,relation/7849315
6,8,Uppal,ward 7 chiluka nagar,0,0,0,0,0,1,0,0,0,0,1,
7,9,Uppal,ward 8 habsiguda,1,0,0,0,0,0,0,0,0,0,1,relation/7852446
8,10,Uppal,ward 9 ramanthapur,1,0,0,0,0,0,0,0,0,0,1,relation/7852447
9,11,Uppal,ward 10 uppal,0,0,0,1,0,0,0,0,0,0,1,relation/7850118

In [44]:
results['Name of the Ward'] = results['Name of the Ward'].apply(lambda x: str(x).lower())

In [24]:
import json
geoj = json.load(open('ghmc-wards.geojson', 'r'))

In [38]:
ward_id_dict = {}
for feature in geoj['features']:
    ward_id_dict[feature['properties']['name']] = feature['properties']['@id']

In [53]:
ward_id_dict2 = {}
for key in ward_id_dict.keys():
    ward_id_dict2[key.lower()] = ward_id_dict[key]
ward_id_dict = ward_id_dict2

In [62]:
# results['id'] = results['Name of the Ward'].apply(lambda x: ward_id_dict[x])
results['id'] = ''
keys = ward_id_dict.keys()
for i in range(151):
    place = results['Name of the Ward'][i]
    place = str(place)
    if place in keys:
        results['id'][i] = ward_id_dict[place]

/home/naren/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [83]:
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'firefox'

In [84]:
fig = px.choropleth(results, geojson=geoj, locations='id', color='TRS')
fig.show()